body {
    display: grid;
    margin: 0;
    height: 100vh;
    width: 100vw;
    image-rendering: pixelated;
    background-image: url("splash.png");
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

img {
    image-rendering: pixelated;
}

input {
    font-size: 1rem;
    padding: 0.0rem 0.5rem 0rem 0.5rem;
    margin: 0;
    border-radius: 0;
}

button {
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

#loginView {
    background-color: khaki;
    padding: 2rem;
    border: 0.2rem solid black;
    display: flex;
    flex-flow: column;
    align-items: flex-start;

}

#sessionView {
    position: relative;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#logoutIcon {
    background-color: khaki;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 0.2rem solid black;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

#logoutIcon:hover {
    cursor: pointer;
}

#globalChatIcon {
    background-color: khaki;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 0.2rem solid black;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

#globalChatIcon:hover {
    cursor: pointer;
}

#globalChat {
    background-color: khaki;
    position: absolute;
    right: 0;
    bottom: 0;
    height: calc(100% - 0.4rem);
    display: flex;
    flex-flow: column;
    border: 0.2rem solid black;
    width: 18rem;
}

#globalChat>.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 0.2rem solid black;
    min-height: 1.75rem;
}

#globalChat>.header>div {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    font-weight: bold;
}

#globalMessages {
    flex-grow: 1;
    overflow-y: scroll;
}

#globalMessages>.message {
    background-color: white;
    margin: 0.2rem 0.1rem 0.2rem 0.1rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border: 0.1rem solid black;
}

#globalMessages>.message>.user {
    font-style: italic;
    font-size: 0.8rem;
}

#globalChat>.messageInput {
    border-top: 0.2rem solid black;
    padding-bottom: 0.2rem;
}

#lobby {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
}

#userListColumn {
    background-color: khaki;
    height: calc(100% - 0.4rem);
    display: flex;
    flex-flow: column;
    width: 16rem;
    border: 0.2rem solid black;
}

#userListColumn>.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 0.2rem solid black;
    min-height: 1.75rem;
}

#userListColumn>.header>div {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    font-weight: bold;
}

#userListColumn>ul {
    width: 100%;
    overflow: auto;
    list-style: none;
}

#userListColumn>li {
    padding-left: 1rem;
} 


#matchListColumn {
    background-color: khaki;
    height: calc(100% - 0.4rem);
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    border: 0.2rem solid black;
    border-left: none;
}

#matchListColumn>.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 0.2rem solid black;
    min-height: 1.75rem;
}

#matchListColumn>.header>div {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    font-weight: bold;
}

#matchSetup {
    background-color: blue;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#matchSetup>.row {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    overflow: hidden;
}

#cardList {
    background-color: khaki;
    border: 0.2rem solid black;
    border-right: none;
    border-bottom: none;
    width: calc(50% - 0.4rem);
    display: flex;
    flex-flow: column;
    align-content: center;
    overflow-y: scroll;
}

#cardlist .list {
    display: flex;
    flex-flow: column;
}

.cardView {
    display: flex;
    flex-flow: row;
    min-height: 5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.2rem solid black;
    background-color: darkkhaki;
    font-size: 1rem;
}

.cardView>img {
    width: 4rem;
    height: 4rem;
    padding-right: 1rem;
}

.cardView .range::before {
    content: "📏 ";
}

.cardView .power::before {
    content: "💪 ";
}

.cardView .resistance::before {
    content: "🥽 ";
}

.cardView .critical::before {
    content: "⚡️ ";
}

.cardView .speed::before {
    content: "🏃‍♂️ ";
}

.cardView .life::before {
    content: "❤️ ";
}

.cardView .title {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.cardView .specs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#deckList {
    background-color: khaki;
    border: 0.2rem solid black;
    border-bottom: none;
    width: calc(50% - 0.2rem);
    overflow-y: scroll;
}

#versusPanel {
    background-color: khaki;
    width: calc(100% - 0.4rem);
    border: 0.2rem solid black;
    min-height: 2.5rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#versusPanel>.playerNameSpace {
    min-width: 12rem;
    background-color: white;
    height: 1.5rem;
    text-align: left;
    margin-top: 0.1rem;
    padding: 0.4rem 0.5rem 0rem 0.5rem;
    border: 0.2rem solid black;
}

#versusPanel>.playerNameSpace.right {
    text-align: right;
}

#versusPanel>.vs {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}


@media (pointer:none), (pointer:coarse) {
    #matchListColumn>.header, #userListColumn>.header, #globalChat>.header {
        min-height: 2.2rem;
    }
}

.p1 {
    font-size: 0.8rem;
}
.p2 {
    font-size: 0.6rem;
}
.p3 {
    font-size: 0.4rem;
}
.P1 {
    font-size: 1.2rem;
}
.P2 {
    font-size: 1.4rem;
}
.P3 {
    font-size: 1.6rem;
}
.i {
    font-style: italic;
}
.spacer {
    height: 1rem;
}
.fe {
    align-self: flex-end;
}

spacer {
    flex-grow: 1;
}